
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;    
}

.slides input{
    display:none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    z-index: 000;
    position: absolute;
    top:0;
    left: 0;
    width: 600px;
    height: 350px;
    object-fit: cover;
}  

/* parte do slider manual */

.manual-navigation{
    position: absolute;
    width: 8%;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    margin-left: 245px;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

/* parte 1 */


/* slider 1 */


#radio1:checked ~ .first{
    margin-left:0;   
}

#radio2:checked ~ .first{
    margin-left:-25%;   
}

#radio3:checked ~ .first{
    margin-left:-50%;   
}

#radio4:checked ~ .first{
    margin-left:-75%;   
}

/* slider 2 */

#radio5:checked ~ .first{
    margin-left:0;   
}

#radio6:checked ~ .first{
    margin-left:-25%;   
}

#radio7:checked ~ .first{
    margin-left:-50%;   
}

#radio8:checked ~ .first{
    margin-left:-75%;   
}

/* slider 3 */

#radio9:checked ~ .first{
    margin-left:0;   
}

#radio10:checked ~ .first{
    margin-left:-25%;   
}

#radio11:checked ~ .first{
    margin-left:-50%;   
}

#radio12:checked ~ .first{
    margin-left:-75%;   
}

/* slider 4 */

#radio13:checked ~ .first{
    margin-left:0;   
}

#radio14:checked ~ .first{
    margin-left:-25%;   
}

#radio15:checked ~ .first{
    margin-left:-50%;   
}

#radio16:checked ~ .first{
    margin-left:-75%;   
}


/* slider 5 */


#radio17.auto-btn4 ~ .first{
    margin-left:0;   
}

#radio18:checked ~ .first{
    margin-left:-25%;   
}

#radio19:checked ~ .first{
    margin-left:-50%;   
}

#radio20:checked ~ .first{
    margin-left:-75%;   
}

/* slider 6 */

#radio21:checked ~ .first{
    margin-left:0;   
}

#radio22:checked ~ .first{
    margin-left:-25%;   
}

#radio23:checked ~ .first{
    margin-left:-50%;   
}

#radio24:checked ~ .first{
    margin-left:-75%;   
}

/* fim da parte manual */

/* parte do slider automatico */

.navigation-auto div{
    border: 2px solid #fff ;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 664px;
    margin-top: 330px;
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

/* Parte 2 */


/* slider 1 */


.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
    
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff ;
    
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}


/* slider 2 */


#radio5:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
    
}

#radio6:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff ;
    
}

#radio7:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio8:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}


/* slider 3 */


#radio9:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
    
}

#radio10:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff ;
    
}

#radio11:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio12:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/* slider 4 */

#radio13:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
    
}

#radio14:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff ;
    
}

#radio15:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio16:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/* slider 5 */

#radio17:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
    
}

#radio18:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff ;
    
}

#radio19:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio20:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/* slider 6 */

#radio21:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
    
}

#radio22:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff ;
    
}

#radio23:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio24:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/* fim da parte automatica */